<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ledgerlets.com</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



  <!-- Custom styles for this template-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.js"></script>
  <script src="/javascripts/page.js"></script>
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
   <!-- Bootstrap core JavaScript-->
   <script src="/vendor/jquery/jquery.min.js"></script>
   <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
   <!-- Core plugin JavaScript-->
   <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
 
   <!-- Custom scripts for all pages
   <script src="js/sb-admin-2.min.js"></script> -->
  

</head>

<body id="page-top" onload="UpdateTiles()">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ETH PROOF</div>
      </a>
       -->
      

      <!-- Divider -->
      <!-- <hr class="sidebar-divider my-0"> -->

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-cubes"></i>
          <span>Proof a file</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="howthisworks.html">
          <i class="fas fa-fw fa-question"></i>
          <span>How this works</span></a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href="about.html">
          <i class="fas fa-fw fa-info-circle"></i>
          <span>About</span></a>
      </li>


   
      <!-- Nav Item - Tables -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li> -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div> -->

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <!--<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          </div>


          <div class="row">

            <div class="col-lg-9">

              
              <div class="card mb-4">
                <div class="card-header">
                  Start here by picking a file... (note, the file is not uploaded and is only used to create a unique ID)
                </div>
                <div class="card-body">
                  <form class="md-form">
                    <div class="file-field" id="fileDiv">
                      <div class="btn btn-primary btn-sm float-left">
                        <input type="file" id="chooseFile" onchange='onFileSelect();'>
                      </div>
                      <pre id="md5"></pre>
                    </div>
                    <div class="status-field" id="statusField">
                      <pre id="statusTxt"></pre>
                    </div>

                  </form>
                </div>
                
              </div>
            </div>
          </div>

            
          <div class="row">
            <!-- Number of pendingfiles tile -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of processed files</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><label id="ProofedFilesCount">4</label></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tachometer-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Total size of proofed files -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total size of proofed files</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><label id="ProofSize">...</label>KB</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hdd fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Next Proofing schedule
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div  id="timeToNextBatchLbl"class="text-xs font-weight-bold text-info text-uppercase mb-1">Next Proofing Schedule</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" id="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clock fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!--Pending number of files to be proofed-->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending files in the queue</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><label id="PendingFilesCount">...</label></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="row">
            <div class="card shadow mb-3">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Recent Proofed Files</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>File Name</th>
                        <th>Size [Kb]</th>
                        <th>Submitted time</th>
                        <th>Proofed Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Proof.txt</td>
                        <td>1024</td>
                        <td>2011/04/25 21:12:00</td>
                        <td>2011/04/25 22:00:00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div> -->

              <!-- PENDING TABLE
              <div class="card shadow mb-6">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Pending Files</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>File Name</th>
                          <th>Size [Kb]</th>
                          <th>Submitted time</th>
                          <th>Proofed Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Proof.txt</td>
                          <td>1024</td>
                          <td>2011/04/25 21:12:00</td>
                          <td>2011/04/25 22:00:00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div> -->


            </div> <!--END ROW-->
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    
    
    
    
    
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  

 


  <!-- Page level custom scripts -->
</body >

</html>
