swagger: "2.0"
info:
  description: "This is the ledgerlets api."
  version: "1.0.0"
  title: "Ledgerlets API"
  termsOfService: "http://ledgerlets.com"
  contact:
    email: "roiy.zyman@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "ledgerlets.com"
basePath: "/API"
tags:
- name: "file"
  description: "Proof of existence for a file"
  externalDocs:
    description: "Find out more"
    url: "http://ledgerlets.com"
schemes:
- "https"
paths:
 
  
  /file/HashId:
    post:
      tags:
      - "file"
      summary: "Submit a new sha256 hash for a file"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: ""
      produces:
      - "application/json"
      
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/File"
        "400":
          description: "Invalid status value"
          
    get:
      tags:
      - "file"
      summary: "Gets the status for file's hash"
      description: "Checks whether the hash for a specific file was already submitted"
      
      produces:
      - "application/json"
      
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/File"
        "400":
          description: "Invalid status value"
    
  



 



definitions:
  File:
    type: "object"
    properties:
      status:
        type: "string"
      batchId:
        type: "string"
      downloadProofFileUrl: 
        type: "string"
  
